h1 {
  color: green;
}

/* ANATOMY */
/* selector {
  property: value;
} */

/* Lists */

/* CHANGING THE LIST STYLE */

/* ul {
  list-style: square; 
  list-style: none; 
} */

/* NESTING AND LISTS */

li {
  list-style-type: disc;
}

/* DESCENDANT COMBINATOR */
li li {
  list-style-type: circle;
}
