/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");

/* Setting the font size */
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  background-color: yellow;
}

span {
  color: hotpink;
}

/* FONTS */

.impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.fantasy {
  font-family: fantasy;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

/* GOOGLE FONTS */
p.noto {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

/* DIRECTION & ALIGNMENT */

.rtl {
  direction: rtl;
}

#align {
  text-align: justify;
  /* text-align: center; */
  width: 75%;
  margin: 0 auto;
}

/* ************************** */

.random {
  text-align: right;
}

.transform {
  text-transform: uppercase;
}

li:first-child {
  text-decoration: underline;
}

li:last-child {
  text-decoration: line-through;
}

/* *************************** */

/* text-shadow: offset-x | offset-y | blur radius | color */

.shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
